body {
  margin: 0;
  font-family: 'Consolas';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CCFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sectionBorder {
  width: 100vw;
  height: 300px;
  position: relative;
  top: -200px;
  z-index: 10;
}
.reverseSectionBorder {
  width: 100vw;
  height: 300px;
  position: relative;
  top: -300px;
  z-index: 10;
  transform: rotate(180deg);
}



