body {
  margin: 0;
  font-family: 'Consolas';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CCFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sectionBorder1 {
  width: 100vw;
  height: 175px;
  position: relative;
  top: -100px;
  z-index: 10;
}

#sectionBorder2 {
  width: 100vw;
  height: 175px;
  position: relative;
  top: -50px;
  z-index: 10;
  transform: rotate(180deg);
}

#sectionBorder3 {
  width: 100vw;
  height: 175px;
  position: relative;
  z-index: 10;
}

#skills {
  position: relative;
  top: -300px;
} 

#portfolio, #contact {
  position: relative;
  top: -250px;
}





