#portfolioSection {
    width: 100vw;
    color: rgb(3, 3, 31);;
    margin: 0; 
    position: relative;
    top: -300px;
}

h2 {
    font-size: 80px;
    width: 100vw;
    display: block;
    margin-top: 0;
    text-align: center;
}

.portfolioItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    margin: 50px auto;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}

li {
    font-size: 20px;
}