canvas {
    position: relative;
    background-color: #CCFFFF;
    margin: 0;
}

#header-textbox {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}

#header h1 {
    font-size: 4.5vw;
    color: rgb(3, 3, 31);
}