.navBar {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    color: rgb(3, 3, 31);
}

.navBar > img {
    height: 75px;
    width: 75px;
    padding: 30px;
    position: relative;
    z-index: 10;
}

#navList {
    background-color: #94ebb8;
    border-radius: 50vh;
    height: 100vh;
    width: 100vh;
    position: absolute;
    right: -50vh;
    top: -50vh;
    z-index: 0;
    animation-name: bounce;
    animation-timing-function: ease-out;
    animation-duration: 0.75s;
}

.navBar ul {
    margin-top: 65vh;
}

.navBar li {
    font-size: 50px;
    list-style-type: none;
    padding: 5px 53vh 5px 0;
}

.navBar li:hover {
    /* animation-name: wordBounce;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    transform-origin: center 5%; */
    color: gray;
    transform: scale(110%);
    transition: all 0.5s;
    cursor: pointer;
}

@keyframes bounce {
    0% { transform: scale(0) }
    25% { transform: scale(110%) }
    50% { transform: scale(90%) }
    75% { transform: scale(100%) }
}

@keyframes wordBounce {
    0% { transform: scale(100%) }
    25% { transform: scale(105%) }
    50% { transform: scale(110%) }
    75% { transform: scale(105%) }
}